Select_Trial_Data/
Select_Trial_Output/
Ref_Data/
Exp_Data/
OLD_TRIALS/
IP_Data/
Exp_Output/
SLURM_stderr/
SLURM_stdout/
snakemake_logs/
experiment_batch_configs/
experiment_batch_configs.tsv
.snakemake/
.vscode/
.Rhistory
.DS_Store