Select_Trial_Data/
Select_Trial_Output/
Ref_Data/
Exp_Data/
OLD_TRIALS/
IP_Data/
Exp_Output/
SLURM_stderr/
SLURM_stdout/
snakemake_logs/
experiment_batch_configs/
experiment_batch_configs.tsv
env_exports/
config.hpc-yamltest.yaml
workflow/envs/micRoclean-source.env
*.sif
.snakemake/
.vscode/
.Rhistory
.DS_Store
analysis_config.yaml
